<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title th:text="${title}"></title>
<!--     <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/> -->
<!--     <link rel="stylesheet" th:href="@{/css/main.css}"/> -->
</head>
<body>
<nav th:fragment="nav">
	<div>
		<ul>
			<li ><a th:href="@{/}">Home</a></li>
		</ul>
		<div sec:authorize="isAuthenticated()">
			
			<ul sec:authorize="hasAuthority('ADMIN')">
				<li>
					<a th:href="@{/admin/addAbsence}" >addAbsence</a>
				</li>
				<li>
					<a th:href="@{/admin/ListAbsence}" >List des Absences</a>
				</li>
			</ul>
			<ul sec:authorize="hasAuthority('PROFESSEUR')">
				<li>
					<a th:href="@{/professeur/addAbsence}" >addAbsence</a>
				</li>
				<li>
					<a th:href="@{/professeur/ProfesseurAbsenceList}">Les Absences</a>
				</li>
			</ul>
			<ul sec:authorize="hasAuthority('ETUDIANT')">
				<li>
					<a th:href="@{/etudiant/AbsenceEtudiant}">Mes Absences</a>
				</li>
			</ul>
			<ul>
				<li>
                	<a href="#"><span class="glyphicon glyphicon-user"></span>Profile</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Sign out</a>
				</li>
			</ul>
		</div>
		 <ul sec:authorize="!isAuthenticated()" class="nav navbar-nav navbar-right">
                <li>
                    <a href="/signin"><span class="glyphicon glyphicon-log-in"></span>Sign in</a>
                </li>
                <li>
                    <a href="/#"><span class="glyphicon glyphicon-log-in"></span>Sign up</a>
                </li>

		</ul>
		
	</div>
</nav>

</body>
</html>